<template>
    <div>
        <main class="overflow-hidden ">
        <!--Start product-grid-->
        <div class="product-grid pt-60 pb-120">
            <div class="container">
                <div class="row gx-4">
                    <div class="col-xl-3 col-lg-4">
                        <div class="shop-grid-sidebar"> <button class="remove-sidebar d-lg-none d-block"> <i
                                    class="flaticon-cross"> </i> </button>
                            <div class="sidebar-holder">
                                <form action="#0" class="footer-default__subscrib-form m-0 p-0 wow fadeInUp animated">
                                    <div class="footer-input-box p-0 "> <input type="email" placeholder="Email address"
                                            name="email"> <button type="submit" class="subscribe_btn"> <i
                                                class="flaticon-magnifying-glass"></i> </button> </div>
                                </form>
                                <div class="single-sidebar-box mt-30 wow fadeInUp animated ">
                                    <h4>Select Categories</h4>
                                    <div class="checkbox-item">
                                        <form>
                                            <div v-for="category in filterList.categories" :key="category.id" class="form-group"> 
                                                <input :value="category.id" v-model="categories" type="checkbox" :id="category.id"> 
                                                <label :for="category.id">{{category.title}}</label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="single-sidebar-box mt-30 wow fadeInUp animated">
                                    <h4>Filter By Price</h4>
                                    <div class="slider-box">
                                        <div id="price-range" class="slider"></div>
                                        <div class="output-price"> 
                                            <label for="priceRange">Price:</label>
                                            <input type="text" id="priceRange" readonly> 
                                        </div> 
                                        <button @click.prevent="getProducts()" class="filterbtn" type="submit"> Filter </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-8">
                        <div class="row">
                            <div class="col-12">
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-grid" role="tabpanel"
                                        aria-labelledby="pills-grid-tab">
                                        <div class="row">
                                            <div v-for="product in products" :key="product.id" class="col-xl-4 col-lg-6 col-6 ">
                                                <div class="products-three-single w-100  mt-30">
                                                    <div class="products-three-single-img"> <a
                                                            href="shop-details-3.html" class="d-block"> <img
                                                                :src="product.image"
                                                                class="first-img" alt="" /> <img
                                                                src="src/assets/images/home-three/productss2-hover-1.png"
                                                                alt="" class="hover-img" />
                                                        </a>
                                                        <div class="products-grid-one__badge-box"> <span
                                                                class="bg_base badge new ">New</span>
                                                        </div> <a @click.prevent="addToCard(product, true)" href="cart.html" class="addcart btn--primary style2">
                                                            Add To Cart </a>
                                                        <div class="products-grid__usefull-links">
                                                            <ul>
                                                                <li><a @click="getProduct(product.id)" :href="`#popup${product.id}`" class="popup_link"> <i
                                                                            class="flaticon-visibility"></i>
                                                                        <span> quick view</span>
                                                                    </a> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div :id="`popup${product.id}`" class="product-gird__quick-view-popup mfp-hide">
                                                        <div v-if="popupProduct" class="container">
                                                            <div class="row justify-content-between align-items-center">
                                                                <div class="col-lg-6">
                                                                    <div class="quick-view__left-content">
                                                                        <div class="tabs">
                                                                            <div class="popup-product-main-image-box">
                                                                                <div class="tab-item popup-product-image">
                                                                                    <div class="popup-product-single-image">
                                                                                        <img :src="popupProduct.image" alt="" /> </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="popup-right-content">
                                                                        <h3>{{popupProduct.title}}</h3>
                                                                        <p class="text">{{popupProduct.content}}</p>
                                                                        <div class="price">
                                                                            <h2> ${{popupProduct.price}}</h2>
                                                                        </div>
                                                                        <div class="add-product">
                                                                            <h6>Qty:</h6>
                                                                            <div class="button-group">
                                                                                <div class="qtySelector text-center">
                                                                                    <span class="decreaseQty"><i
                                                                                            class="flaticon-minus"></i>
                                                                                    </span> <input type="number"
                                                                                        class="qtyValue" value="1" />
                                                                                    <span class="increaseQty"> <i
                                                                                            class="flaticon-plus"></i>
                                                                                    </span> </div>
                                                                                <button @click.prevent="addToCard(product)" class="btn--primary "> Add to
                                                                                    Cart </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="products-three-single-content text-center"> <span>{{product.category.title}}</span>
                                                        <h5>
                                                            <router-link :to="{name: 'products.show', params: {id: product.id}}">{{product.title}}</router-link>
                                                        </h5>
                                                        <p>$ {{product.price}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" v-if="pagination.last_page > 1">
                            <div class="col-12 d-flex justify-content-center wow fadeInUp animated">
                                <ul class="pagination text-center">
                                    <li v-if="pagination.current_page !== 1" class="next">
                                        <a href="#0" @click.prevent="getProducts(pagination.current_page - 1)">
                                            <i class="flaticon-left-arrows" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li v-for="link in pagination.links" :key="link.label">
                                        <template v-if="Number(link.label) && 
                                        ( pagination.current_page - link.label < 2 && 
                                        pagination.current_page - link.label > -2) || 
                                        Number(link.label) === 1 ||
                                        Number(link.label) === pagination.last_page
                                        ">
                                            <a :class="link.active ? 'active' : ''" @click.prevent="getProducts(link.label)" href="#0">{{link.label}}</a>
                                        </template>
                                        <template v-if="(Number(link.label) && 
                                        pagination.current_page !== 3 &&
                                        pagination.current_page - link.label === 2) ||
                                        (Number(link.label) && 
                                        pagination.current_page !== pagination.last_page - 2 &&
                                        pagination.current_page - link.label === -2)
                                        ">
                                            <a href="">...</a>
                                        </template>
                                    </li>
                                    <li v-if="pagination.current_page !== pagination.last_page" class="next">
                                        <a href="#0" @click.prevent="getProducts(pagination.current_page + 1)">
                                            <i class="flaticon-next-1" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    </div>
</template>

<script>
export default {
    name: "Index",
    mounted() {
        $(document).trigger('init')
        this.getFilterList()
        this.getProducts()
        
    },
    data() {
        return {
            products: [],
            popupProduct: null,
            filterList: [],
            categories: [],
            prices: [],
            pagination: []
        }
    },
    methods: {
        addToCard(product, isSingle) {
            let qty = isSingle ? 1 : $('.qtyValue').val()
            
            let cart = localStorage.getItem('cart')
            $('.qtyValue').val(1)
            let newProduct = [
                {
                    'id': product.id,
                    'price': product.price,
                    'title': product.title,
                    'preview_image': product.image,
                    'qty': qty
                }
            ]
            if (!cart) {
                localStorage.setItem('cart', JSON.stringify(newProduct))
            } else {
                cart = JSON.parse(cart)
                
                cart.forEach(element => {
                    if (element.id === product.id) {
                        element.qty = Number(element.qty) + Number(qty)
                        newProduct = null
                    }
                });

                Array.prototype.push.apply(cart, newProduct)
                localStorage.setItem('cart', JSON.stringify(cart))
            }
        },
        getProducts(page = 1) {
            let prices = $('#priceRange').val()
            this.prices = prices.replace(/[\s+]|[$]/g, '').split('-')
            this.axios.post('http://127.0.0.1:8000/api/products', {
                'categories': this.categories,
                'prices':this.prices,
                'page':page
            })
                .then(res => {
                    this.products = res.data.data
                    this.pagination = res.data.meta
                })
            .finally(v => {
                $(document).trigger('init')
            })
        },
        getProduct(id) {
            this.axios.get(`http://127.0.0.1:8000/api/products/${id}`)
                .then(res => {
                    this.popupProduct = res.data.data
                })
            .finally(v => {
                $(document).trigger('init')
            })
        },
        getFilterList() {
            this.axios.get('http://127.0.0.1:8000/api/products/filters')
                .then(res => {
                    this.filterList = res.data
                    
                    if ($('#price-range').length) {
                        $('#price-range').slider({
                        range: true,
                        min: this.filterList.price.min,
                        max: this.filterList.price.max,
                        values: [this.filterList.price.min, this.filterList.price.max],
                        slide: function (event, ui) {
                            $('#priceRange').val('$' + ui.values[0] + ' - $' + ui.values[1]);
                        },
                        });
                        $('#priceRange').val(
                        '$' +
                            $('#price-range').slider('values', 0) +
                            ' - $' +
                            $('#price-range').slider('values', 1),
                        );
                    }
                })
            .finally(v => {
                $(document).trigger('init')
            })
        }
    }
}
</script>
<style scoped>

</style>