<template>
    <div>
        <main>
        <!--Start Shop Details Breadcrumb-->
        <div class="shop-details-breadcrumb wow fadeInUp animated overflow-hidden ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="shop-details-inner">
                            <ul class="shop-details-menu">
                                <li><a href="index.html">Home</a></li>
                                <li class="active">Shop Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Shop Details Breadcrumb-->
        <!--Start Shop Details Top-->
        <section class="shop-details-top two ">
            <div class="container" v-if="product">
                <div class="row mt--30">
                    <div class="col-xl-6 col-lg-6 mt-30 wow fadeInUp animated">
                        <div class="single-product-box one">
                            <div class="big-product single-product-one slider-for">
                                <div>
                                    <div class="single-item"> 
                                        <img :src="product.image" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 mt-30 wow fadeInUp animated">
                        <div class="shop-details-top-right ">
                            <div class="shop-details-top-right-content-box">
                                <div class="shop-details-top-title">
                                    <h3>{{product.title}}</h3>
                                </div>
                                <div class="shop-details-top-price-box">
                                    <h3>${{product.price}}</h3>
                                </div>
                                <div class="shop-details-top-cart-box-btn"> <button class="btn--primary style2 "
                                        type="submit">Add to Cart</button> </div>
                                <ul class="shop-details-top-category-tags">
                                    <li>Category: <span>{{product.category.title}}</span></li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Shop Details Top-->
        <!-- productdrescription-tabStart -->
        <section class="product pt-60 pb-60 wow fadeInUp overflow-hidden ">
            <div class="container">
                <div class="col-12">
                    Description  
                </div>
                <div v-if="product" class="row-12">
                    <p>{{product.content}}</p>                                
                </div>
            </div>
        </section>
    </main>
    </div>
</template>

<script>
export default {
    name: "Show",
    mounted() {
        $(document).trigger('init')
        this.getProduct()    
    },
    data() {
        return {
            product: null
        }
    },
    methods: {
        getProduct() {
            this.axios.get(`http://127.0.0.1:8000/api/products/${this.$route.params.id}`)
                .then(res => {
                    this.product = res.data.data
                    console.log(res)
                })
            .finally(v => {
                $(document).trigger('init')
            })
        },
    }
}
</script>
<style scoped>

</style>