<template>
    <div>
        <main class="overflow-hidden">
            Категории
            <div class="row" v-if="categories">
                <ul>
                    <li v-for="category in categories" :key="category.id">{{category.title}}</li>
                </ul>
            </div>
            Последнее поступления
            <div class="col-xl-9 col-lg-8">
                        <div class="row">
                            <div class="col-12">
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-grid" role="tabpanel"
                                        aria-labelledby="pills-grid-tab">
                                        <div class="row">
                                            <div v-for="product in products" :key="product.id" class="col-xl-4 col-lg-6 col-6 ">
                                                <div class="products-three-single w-100  mt-30">
                                                    <div class="products-three-single-img"> <a
                                                            href="shop-details-3.html" class="d-block"> <img
                                                                :src="product.image"
                                                                class="first-img" alt="" /> <img
                                                                src="src/assets/images/home-three/productss2-hover-1.png"
                                                                alt="" class="hover-img" />
                                                        </a>
                                                        
                                                    </div>
                                                    <div :id="`popup${product.id}`" class="product-gird__quick-view-popup mfp-hide">
                                                        <div v-if="popupProduct" class="container">
                                                            <div class="row justify-content-between align-items-center">
                                                                <div class="col-lg-6">
                                                                    <div class="quick-view__left-content">
                                                                        <div class="tabs">
                                                                            <div class="popup-product-main-image-box">
                                                                                <div class="tab-item popup-product-image">
                                                                                    <div class="popup-product-single-image">
                                                                                        <img :src="popupProduct.image" alt="" /> </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="products-three-single-content text-center"> <span>{{product.category.title}}</span>
                                                        <h5>
                                                            <router-link :to="{name: 'products.show', params: {id: product.id}}">{{product.title}}</router-link>
                                                        </h5>
                                                        <p>$ {{product.price}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
        </main>
    </div>
</template>
<script>
export default {
    name: "Index",
    mounted() {
        $(document).trigger('init')
        this.getCategories()
        this.getProducts()
    },
    data() {
        return {
            products: [],
            categories: []
        }
    },
    methods: {
        getCategories() {
            this.axios.get('http://127.0.0.1:8000/api/categories')
                .then(res => {
                    console.log(res)
                    this.categories = res.data.data
                })
            .finally(v => {
                $(document).trigger('init')
            })
        },
        getProducts() {
            this.axios.post('http://127.0.0.1:8000/api/products', {
                'page': 1,
            })
                .then(res => {
                    this.products = res.data.data
                    console.log(res);
                })
            .finally(v => {
                $(document).trigger('init')
            })
        }
    }

}
</script>
<style scoped>

</style>