<template>
    <div>
        <main class="overflow-hidden ">
        <!--Start cart area-->
        <section class="cart-area pt-120 pb-120" v-if="products">
            <div class="container">
                <div class="row wow fadeInUp animated">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="cart-table-box">
                            <div class="table-outer">
                                <table class="cart-table">
                                    <thead class="cart-header">
                                        <tr>
                                            <th class="">Product Name</th>
                                            <th class="price">Price</th>
                                            <th>Quantity</th>
                                            <th>Subtotal</th>
                                            <th class="hide-me"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="product in products" :key="product.id">
                                            <td>
                                                <div class="thumb-box"> 
                                                    <router-link class="thump" :to="{name: 'products.show', params: {id: product.id}}">
                                                        <img width="100" height="100" :src="product.preview_image" alt="">
                                                    </router-link>
                                                    <router-link class="title" :to="{name: 'products.show', params: {id: product.id}}">
                                                        <h5> {{product.title}} </h5>
                                                    </router-link>
                                                </div>
                                            </td>
                                            <td>${{product.price}}</td>
                                            <td class="qty">
                                                <div class="qtySelector text-center"> 
                                                    <span @click="minusQty(product)" class="decreaseQty"><i class="flaticon-minus"></i></span>
                                                        <input type="number" class="qtyValue" :value="product.qty" />
                                                    <span @click="plusQty(product)" class="increaseQty"><i class="flaticon-plus"></i></span> 
                                                </div>
                                            </td>
                                            <td class="sub-total">${{product.qty * product.price}}</td>
                                            <td>
                                                <div @click.prevent="removeProduct(product.id)" class="remove"> <i class="flaticon-cross"></i> </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-25">
                    <input type="text" v-model="name" placeholder="Имя">
                    <input type="text" v-model="email" placeholder="Email">
                    <input type="text" v-model="address" placeholder="address">
                    <input @click.prevent="storeOrder" type="submit" class="btn btn-primary"  placeholder="Оформить">
                </div>
            </div>
        </section>
        <section class="cart-area pt-120 pb-120" v-else>Корзина пуста</section>
    </main>
    </div>
</template>
<script>
export default {
    name: "Create",
    mounted() {
        $(document).trigger('init')
        this.getCartProducts()
    },
    data() {
        return {
            products: [],
            name: '',
            email: '',
            address: ''
        }
    },
    computed: {
        totalPrice() {
            let total = 0
            this.products.forEach(element => {
                total += element.price * element.qty
            });
            return total
        }
    },
    methods: {
        storeOrder() {
            this.axios.post('http://127.0.0.1:8000/api/orders', {
                'products': this.products,
                'email': this.email,
                'name': this.name,
                'address': this.address,
                'total_price': this.totalPrice,
            })
                .then(res => {
                    console.log(res);
                })
            .finally(v => {
                $(document).trigger('init')
            })
        },
        getCartProducts() {
            this.products = JSON.parse(localStorage.getItem('cart'))
        },
        minusQty(product) {
            if (product.qty === 0) return
            product.qty--
            this.updateProduct()
        },
        plusQty(product) {
            product.qty++
            this.updateProduct()
        },
        updateProduct() {
            localStorage.setItem('cart', JSON.stringify(this.products))
        },
        removeProduct(id) {
            this.products = this.products.filter(product => {
                return id !== product.id
            })
            this.updateProduct()
        }
    }
}
</script>
<style scoped>

</style>